[package]
name = "snarkvm-utilities"
version = "0.14.6"
authors = [ "The Aleo Team <hello@aleo.org>" ]
description = "Utilities for a decentralized virtual machine"
homepage = "https://aleo.org"
repository = "https://github.com/AleoHQ/snarkVM"
keywords = [
  "aleo",
  "cryptography",
  "blockchain",
  "decentralized",
  "zero-knowledge"
]
categories = [
  "compilers",
  "cryptography",
  "mathematics",
  "wasm",
  "web-programming"
]
include = [ "Cargo.toml", "src", "README.md", "LICENSE.md" ]
license = "Apache-2.0"
edition = "2021"

[dependencies.snarkvm-utilities-derives]
path = "./derives"
version = "=0.14.6"
optional = true

[dependencies.aleo-std]
version = "0.1.18"
optional = true
default-features = false

[dependencies.anyhow]
version = "1.0"

[dependencies.bincode]
version = "1.3.3"

[dependencies.num_cpus]
version = "1"
optional = true

[dependencies.num-bigint]
version = "0.4"

[dependencies.rand]
version = "0.8"
default-features = false
features = [ "getrandom", "std_rng" ]

[dependencies.rayon]
version = "1"

[dependencies.serde]
version = "1.0"
default-features = false

[dependencies.serde_json]
version = "1.0"
features = [ "preserve_order" ]

[dependencies.thiserror]
version = "1.0"

[dependencies.rand_xorshift]
version = "0.3"
default-features = false

[features]
default = [ "aleo-std/cpu", "derive", "num_cpus", "std" ]
derive = [ "snarkvm-utilities-derives" ]
serial = [ "derive" ]
std = [ ]
wasm = [ ]
